.about
  padding: 120px 0
  min-height: 840px
  &__wrapper
    display: flex
  &__img
    display: block
    margin-right: 70px
    width: 400px
    height: 600px
  &__descr
    width: 570px
  &__text
    font-weight: 500
    font-size: 14px
    line-height: 21px
  &__list
    display: flex
  &__item
    &_img
      display: block
    &_header
      font-weight: 700
      font-size: 14px
    &_descr
      font-weight: 500
      font-size: 12px
      line-height: 18px


