.experience
  &__title
    position: relative
    text-align: center
    @include after_line
    &:after
      left: 50%
      transform: translateX(-50%)
  &__subtitle
    position: relative
    text-align: center
    @include before_circle
    &:before
      top: -6px
      left: 50%
      transform: translateX(-50%)