.portfolio
  @media (max-width: 768px)
    padding: 60px 0 70px 0
    &__wrapper
      grid-template-columns: repeat(3, auto)
      grid-template-rows: repeat(3, 260px)
      gap: 5px
    &__item
      display: grid
      &_1
        grid-column: 1/2
        grid-row: 1/2
        background: url("../images/portfolio/uber.jpg") center center/cover no-repeat
      &_2
        grid-column: 1/2
        grid-row: 2/3
        background: url("../images/portfolio/pulse.jpg") center center/cover no-repeat
      &_3
        grid-column: 1/2
        grid-row: 3/4
        background: url("../images/portfolio/asp.jpg") left center/cover no-repeat
      &_4
        grid-column: 2/3
        grid-row: 1/2
        background: url("../images/portfolio/wordpress.jpg") center center/cover no-repeat
      &_5
        grid-column: 2/3
        grid-row: 2/3
        background: url("../images/portfolio/prengi.jpg") center center/cover no-repeat
      &_6
        grid-column: 2/3
        grid-row: 3/4
        background: url("../images/portfolio/hero.jpg") center center/cover no-repeat
      &_7
        grid-column: 3/4
        grid-row: 1/2
        background: url("../images/portfolio/amethyst.jpg") center center/cover no-repeat
      &_8
        grid-column: 3/4
        grid-row: 2/3
        background: url("../images/portfolio/telegram_ads.jpg") center center/cover no-repeat
      &_9
        grid-column: 3/4
        grid-row: 3/4
        background: url("../images/portfolio/unique_umain_page.jpg") center center/cover no-repeat