* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 300px;
  }
}

.button {
  width: 135px;
  height: 45px;
  background: none;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.button:hover {
  color: darkgray;
}
.button_active {
  background: #ed1e2b;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  padding: 10px;
  color: #000000;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.column-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.center__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  padding: 10px;
  color: #000000;
  position: relative;
  text-align: center;
}
.center__title:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #ed1e2b;
  width: 60px;
  height: 4px;
}
.center__title:after {
  left: 50%;
  transform: translateX(-50%);
}
.center__subtitle {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.center__subtitle:before {
  content: "";
  position: absolute;
  left: 0;
  top: -17%;
  z-index: -1;
  background-color: #ed1e2b;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.center__subtitle:before {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.about {
  padding: 120px 0;
  min-height: 840px;
}
.about__subtitle {
  position: relative;
  padding-left: 10px;
}
.about__subtitle:before {
  content: "";
  position: absolute;
  left: 0;
  top: -17%;
  z-index: -1;
  background-color: #ed1e2b;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.about__title {
  position: relative;
  margin-top: 20px;
}
.about__title:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #ed1e2b;
  width: 60px;
  height: 4px;
}
.about__wrapper {
  display: flex;
}
.about__img {
  display: block;
  margin-right: 70px;
  width: auto;
  height: 600px;
}
.about__descr {
  width: 570px;
}
.about__text {
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about__item {
  position: relative;
  display: flex;
  width: 260px;
}
.about__item_img-container {
  position: relative;
  padding-left: 15px;
}
.about__item_img-container:before {
  content: "";
  position: absolute;
  left: 0;
  top: -10%;
  z-index: -1;
  background-color: #ed1e2b;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.about__item_descr {
  margin-left: 20px;
}
.about__item_header {
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 5px;
}
.about__item_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.promo {
  position: relative;
  background: url("../images/main.jpg") center center/cover no-repeat;
  padding: 206px 0 362px 0;
  height: 800px;
}
.promo__container {
  display: flex;
}
.promo__descr {
  z-index: 10;
  width: 500px;
  margin-right: 150px;
}
.promo__title {
  font-size: 48px;
  margin: 10px 0 25px 0;
  color: cornsilk;
  line-height: 1em;
}
.promo__subtitle {
  position: relative;
  padding-left: 10px;
  color: cornsilk;
}
.promo__subtitle:before {
  content: "";
  position: absolute;
  left: 0;
  top: -17%;
  z-index: -1;
  background-color: #ed1e2b;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.promo__button {
  color: cornsilk;
}

.experience__wrapper {
  padding: 60px 65px 120px 65px;
  display: grid;
  grid-template-columns: repeat(2, 425px);
  column-gap: 135px;
}
.experience__column-title {
  position: relative;
  padding-left: 35px;
}
.experience__column-title:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -6px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #ed1e2b;
}
.experience__column ul {
  list-style-type: none;
}
.experience__column ul li {
  position: relative;
  display: block;
}
.experience__column ul li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 12px);
  left: 1px;
  top: -12px;
  background: #000;
}
.experience__item {
  position: relative;
}
.experience__item:before {
  content: "";
  position: absolute;
  top: 58px;
  left: 3px;
  width: 44px;
  height: 1px;
  background: #000;
}
.experience__item-head {
  position: relative;
  padding: 45px 0 0 100px;
  margin: 0;
}
.experience__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.experience__item-location, .experience__item-body {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.experience__item-body {
  padding: 12px 0 0 45px;
}
.experience__item-icon {
  position: absolute;
  top: 50%;
  left: 46px;
}
.experience__item-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: -17%;
  z-index: -1;
  background-color: #ed1e2b;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.experience__item-icon img {
  position: absolute;
  top: 15px;
  left: 15px;
}

.skills__wrapper {
  display: flex;
  gap: 15px;
  padding: 60px 0 120px 0;
}
.skills__item {
  width: 270px;
  min-height: 270px;
  padding: 30px;
  border: 1px solid #000000;
}
.skills__item-header {
  margin: 20px 0 15px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.skills__item-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.sidepanel {
  position: absolute;
  top: 226px;
  left: 0;
  z-index: 5;
  width: 10%;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidepanel__divider {
  width: 2px;
  height: 70px;
  background-color: #FFFFFF;
}
.sidepanel__text {
  width: 150px;
  height: 25px;
  color: #FFFFFF;
}
.sidepanel__text span {
  display: block;
  width: 150px;
  transform: rotate(270deg) translate(-30%, 0%);
}

.scales {
  width: 100%;
  min-height: 300px;
}
.scales__subtitle {
  position: relative;
  padding: 3px 0 0 10px;
}
.scales__subtitle:before {
  content: "";
  position: absolute;
  left: 0;
  top: -17%;
  z-index: -1;
  background-color: #ed1e2b;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.scales__value {
  font-size: 14px;
}
.scales__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.scales__list {
  display: flex;
  justify-content: space-between;
}
.scales__item {
  width: 350px;
}
.scales__desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.scales__scale {
  width: 100%;
  height: 15px;
  background-color: #E8E4DE;
  border-radius: 8px;
}
.scales__magnitude {
  height: 15px;
  border-radius: 8px;
  background-color: #ed1e2b;
}
.scales__magnitude_1 {
  width: 100%;
}
.scales__magnitude_2 {
  width: 85%;
}
.scales__magnitude_3 {
  width: 90%;
}
.scales__magnitude_4 {
  width: 85%;
}
.scales__magnitude_5 {
  width: 100%;
}
.scales__magnitude_6 {
  width: 95%;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 60px 0 70px 0;
  }
  .portfolio__wrapper {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 260px);
    gap: 5px;
  }
  .portfolio__item {
    display: grid;
  }
  .portfolio__item_1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background: url("../images/portfolio/uber.jpg") center center/cover no-repeat;
  }
  .portfolio__item_2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background: url("../images/portfolio/pulse.jpg") center center/cover no-repeat;
  }
  .portfolio__item_3 {
    grid-column: 1/2;
    grid-row: 3/4;
    background: url("../images/portfolio/asp.jpg") left center/cover no-repeat;
  }
  .portfolio__item_4 {
    grid-column: 2/3;
    grid-row: 1/2;
    background: url("../images/portfolio/wordpress.jpg") center center/cover no-repeat;
  }
  .portfolio__item_5 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: url("../images/portfolio/prengi.jpg") center center/cover no-repeat;
  }
  .portfolio__item_6 {
    grid-column: 2/3;
    grid-row: 3/4;
    background: url("../images/portfolio/hero.jpg") center center/cover no-repeat;
  }
  .portfolio__item_7 {
    grid-column: 3/4;
    grid-row: 1/2;
    background: url("../images/portfolio/amethyst.jpg") center center/cover no-repeat;
  }
  .portfolio__item_8 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: url("../images/portfolio/telegram_ads.jpg") center center/cover no-repeat;
  }
  .portfolio__item_9 {
    grid-column: 3/4;
    grid-row: 3/4;
    background: url("../images/portfolio/unique_umain_page.jpg") center center/cover no-repeat;
  }
}

.price {
  padding: 70px 0 120px 0;
}
.price__subtitle:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #ed1e2b;
  width: 60px;
  height: 4px;
}
.price__subtitle:after {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.price__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 90px;
  column-gap: 300px;
  row-gap: 30px;
}
.price__item {
  position: relative;
  min-width: 365px;
  padding-left: 30px;
}
.price__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #ed1e2b;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.price__item:after {
  width: 15px;
  height: 15px;
}
.price__block {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.price__desc {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contacts {
  min-height: 600px;
  padding-bottom: 90px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__img {
  width: 400px;
  height: 600px;
}
.contacts__title {
  padding: 0;
}
.contacts__text {
  padding-top: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.contacts__socials {
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
}
.contacts__input_wrapper_container {
  display: flex;
}
.contacts__input_wrapper {
  position: relative;
}
.contacts__label {
  position: absolute;
  padding: 0 10px;
  top: 22px;
  left: 20px;
  background-color: #FFFFFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.contacts__input {
  width: 280px;
  height: 45px;
  margin: 30px 25px 0 0;
  border: 1px solid #000;
}
.contacts__textarea {
  width: 585px;
  height: 160px;
  margin-top: 30px;
  resize: none;
  border: 1px solid #000;
}
.contacts__button {
  margin-top: 32px;
  width: 200px;
  color: cornsilk;
}

@media (max-width: 768px) {
  .promo {
    padding: 100px 0 262px 0;
    height: 400px;
  }
  .promo__container {
    display: flex;
  }
  .promo__descr {
    z-index: 10;
    width: 300px;
    margin-right: 150px;
  }
}
@media (max-width: 480px) {
  .promo {
    padding: 70px 0 262px 0;
    height: 400px;
  }
  .promo__container {
    display: flex;
  }
  .promo__descr {
    z-index: 10;
    width: 300px;
    margin-right: 150px;
  }
  .promo__title {
    font-size: 21px;
    margin: 10px 0 25px 0;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 60px 0;
    min-height: auto;
  }
  .about__title {
    font-size: 24px;
    position: relative;
    margin-top: 0;
  }
  .about__title:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #ed1e2b;
    width: 60px;
    height: 4px;
  }
  .about__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .about__img {
    display: none;
  }
  .about__descr {
    width: 100%;
  }
  .about__list {
    flex-wrap: nowrap;
    gap: 20px;
  }
  .about__item {
    position: relative;
    display: flex;
    max-width: 260px;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 40px 0;
    min-height: auto;
  }
  .about__title {
    font-size: 18px;
  }
  .about__descr {
    width: 100%;
  }
  .about__list {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .button {
    width: 100px;
    height: 35px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1em;
  }
}

@media (max-width: 768px) {
  .contacts {
    min-height: 400px;
    padding-bottom: 30px;
  }
  .contacts__img {
    width: 200px;
    height: 300px;
  }
  .contacts__title {
    font-size: 24px;
  }
  .contacts__text {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 500;
  }
  .contacts__socials {
    margin-top: 10px;
  }
  .contacts__input {
    width: 150px;
    height: 35px;
    margin: 20px 25px 0 0;
  }
  .contacts__textarea {
    width: 325px;
    height: 50px;
    margin-top: 20px;
  }
  .contacts__label {
    top: 12px;
  }
  .contacts__button {
    margin-top: 20px;
    width: 150px;
  }
}
@media (max-width: 480px) {
  .contacts {
    min-height: 300px;
    padding-bottom: 20px;
  }
  .contacts__img {
    display: none;
  }
  .contacts__input {
    width: 110px;
    height: 35px;
    margin: 20px 25px 0 0;
  }
  .contacts__textarea {
    width: 250px;
    height: 50px;
    margin-top: 20px;
  }
  .contacts__label {
    top: 12px;
  }
  .contacts__button {
    margin-top: 20px;
    width: 150px;
  }
}

@media (max-width: 768px) {
  .experience__wrapper {
    padding: 20px 25px 60px 35px;
    grid-template-columns: repeat(2, 250px);
    column-gap: 50px;
  }
}
@media (max-width: 480px) {
  .experience__wrapper {
    padding: 20px 25px 60px 35px;
    grid-template-columns: repeat(1, 250px);
  }
}

@media (max-width: 768px) {
  .skills__wrapper {
    flex-wrap: wrap;
    gap: 15px;
    padding: 30px 0 30px 0;
  }
  .skills__item {
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
  }
  .skills__item-header {
    margin: 20px 0 15px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
  .skills__item-desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .scales {
    min-height: 200px;
  }
  .scales__value {
    font-size: 14px;
  }
  .scales__list {
    flex-wrap: wrap;
  }
  .scales__item {
    width: 40%;
  }
  .scales__desc {
    margin: 20px;
  }
  .scales__scale {
    height: 10px;
  }
  .scales__magnitude {
    height: 10px;
  }
}
@media (max-width: 480px) {
  .scales__item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .sidepanel {
    top: 100px;
    width: 10%;
    height: 140px;
  }
  .sidepanel__divider {
    width: 2px;
    height: 30px;
  }
  .sidepanel__text {
    width: 150px;
    height: 15px;
  }
  .sidepanel__text span {
    display: block;
    width: 150px;
    transform: rotate(270deg) translate(-30%, 0%);
    font-size: 14px;
  }
}
@media (min-width: 480px) {
  .sidepanel {
    top: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .sidepanel__divider {
    width: 2px;
    height: 30px;
  }
  .sidepanel__text {
    width: 150px;
    height: 15px;
  }
  .sidepanel__text span {
    display: block;
    width: 150px;
    font-size: 14px;
    transform: rotate(270deg) translate(-30%, 0%);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 40px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  .center__title {
    font-size: 24px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    padding: 60px 0 70px 0;
  }
  .portfolio__wrapper {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 200px);
  }
}
@media (max-width: 480px) {
  .portfolio {
    padding: 60px 0 70px 0;
  }
  .portfolio__wrapper {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 150px);
  }
}/*# sourceMappingURL=style.css.map */