@import "base/variables"
@import "base/mixins"
*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Poppins', sans-serif
  font-style: normal
  scroll-behavior: smooth

html  
  width: 100%
  height: 100%

a
  text-decoration: none
  color: white
  &:hover
    opacity: 0.5

.container
  width: 1140px
  margin: 0 auto
  @media (max-width: 768px)
    width: 600px
  @media (max-width: 480px)
    width: 300px


@import "blocks/buttons"
@import "blocks/titles"
@import "blocks/about"
@import "blocks/promo"
@import "blocks/experience"
@import "blocks/skills"
@import "blocks/sidepanel"
@import "blocks/scales"
@import "blocks/portfolio2"
@import "blocks/price"
@import "blocks/contacts"
@import "media/promo"
@import "media/about"
@import "media/buttons"
@import "media/contacts"
@import "media/experience"
@import "media/skills"
@import "media/scales"
@import "media/sidepanel"
@import "media/titles"
@import "media/portfolio"
@import "blocks/modal"

